@import "palette";

.main{
	max-width: 1440px;
	margin: 0 auto;
	overflow-y: auto;
}

.header{
	background: $header;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&-title{
		color: $headerTitle;
		text-shadow: 0px 0px 0px $headerTitle;
		font-size: 25px;
		font-family:  'Montserrat-Light';
		position: relative;
	}
}
