$header:#F1DDF4;
$headerTitle:#565860;
$bgWare:  #ffffff;
$darkBlueBold:#131414;
$darkGrey: #727272;
$borderCardTrait:#DCDCDC;
$lineThrough: #FF0000;
$bgElem: #FF6B00;
$textElem: #FFFFFF;
$сountBtnLine:#565860;
$bgCountBtn:#EFEFEF;
$borderCount:#C4C4C4;
$bgTimer: #FFD600;
$bgSliderBtn: #00000033;
$borderSliderPrev: #B1B1B1;
$frameAccent: #923da0;
$bgManual: #F4C4FC;
$textManual: #181A19;
$oldSumBtn:#4A1414